/* 
---------GRID--------------------------------
.box1{
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 3;
}
.box2{
    background-color: blue;
    grid-column-start: 3;
    grid-column-end: 6;
}
.box3{
    background-color: yellow;
}
.box4{
    background-color: green;
}
.box5{
    background-color: orangered;
}
.box6{
    background-color: aqua;
}
.box7{
    background-color: blueviolet;
}
.box8{
    background-color: slategrey;
}
.box{
    height: 200px;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px 50px; 

} */

/*-------------------Responsive------------------*/


@media(max-width:480px){ /*x<=480px*/
    h1{
        font-size: 28px;
        color: green;
        display: none;
    }

}
@media(min-width:481px) and (max-width:768px){ /*481<=x<=768*/
    h1{
        color: blue;
        font-size: 36px;

    }
}
@media(min-width:769px) and (max-width:1024px){
    h1{
        color: red;
        font-size: 45px;
    }
}
@media(min-width:1025px) and (max-width:1200px){
    h1{
        color: yellow;
        font-size: 50px;
    }
}
@media(min-width:1201px){
    h1{
        color: purple;
        font-size: 62px;
    }
}


@keyframes example {
    0%   {left:0px; top:0px;}
    50%  { left:200px; top:0px;}
   
    100% {left:0px; top:0px;}
  }
  
  .child {
    width: 100px;
    height: 100px;
    position: absolute;/*asili olmaq*/
    right: 50px;
    bottom: 50px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
  }
  
  .parent{
    width: 350px;
    height: 350px;
    position: relative; /*esas teref*/
    border: 3px solid #000;
  }
p{
    font-size: 18px;
}


  .up-button{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    outline: none;
    border: none;
    background-color: red;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    bottom: 20px;
    
  }
  @keyframes textAnimation {
    0%   {font-size: 12px;}
    50%  {font-size: 50px;}
   
    100% {font-size: 100px;}
  }
/*   
  h2{
    animation-name: textAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;

  } */
  .transform-element{
    width: 100px;
    height: 100px;
    background-color: red;
    
  }
  .transform-element:hover{
    background-color: green;
  }
  .transform-element:active{
    background-color: blue;
  }
  input{
    outline: none;
    margin-top: 100px;
    margin-left: 100px;
    transition: all 5s ease-in-out;

  }
  input:focus{
    border: 3px solid green;
  }
  input:hover{
    border: 3px solid red; 
    /* transform: translateX(120px); */
    /* transform: scale(0.5); */
    transform: rotate(-360deg);

  }
  input:active{
    border: 3px solid blue;
  }